.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center {
  text-align: center;
  /* display: flex;
  justify-self: center;
  flex-direction: column; */
}

.products {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image {
  width: 200px;
  height: 300px;
  border: 5px solid;
}

.text {
  margin: 0px;
}
