.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center {
  text-align: center;
  /* display: flex;
  justify-self: center;
  flex-direction: column; */
}

/* export default App ; */
